In [ ]:
# predict the next one of OHLC, use shift
lag = -1
y_raw = df2.loc[:,"XAUUSD"].shift(periods=lag)

In [ ]:
# to fill nan values, use fillna
y_raw = y_raw.fillna(method='pad')
y_raw

In [ ]:
# if you have a numpy array, use DataFrame for pretty print:
y_Test = pd.DataFrame(data=y_test)
y_Test.columns=["XAUUSDopen"]
y_Test

In [ ]:
# data normalization:

# Scale data
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

y_train_std = sc.fit_transform(y_train.reshape(-1, 1)) #Reshape to get the right tensor dimension 
y_test_std = sc.transform(y_test.reshape(-1, 1)) #Reshape to get the right tensor dimension

In [1]:
# use price returns to make time series more stationary:

# "In prediction problems it is common practice to remove trend and make the series more stationary 
# by using price returns instead of the actual price."

# -> For example, with the “scipy.signal.detrend” method, or by differentiating the series.
# The Pandas library provides a method to automatically calculate the difference of our dataset. 
# This diff() method is provided on both the Series and DataFrame objects.

In [2]:
import pandas as pd

SP500 = pd.read_csv('data/SP500_short.csv', index_col='Date')
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426 entries, 04/01/2016 to 11/09/2017
Data columns (total 8 columns):
JPM UN Equity      426 non-null float64
USB UN Equity      426 non-null float64
GS UN Equity       426 non-null float64
FB UW Equity       426 non-null float64
AAPL UW Equity     426 non-null float64
GOOGL UW Equity    426 non-null float64
GM UN Equity       426 non-null float64
F UN Equity        426 non-null float64
dtypes: float64(8)
memory usage: 30.0+ KB

In [3]:
SP500.head()

,JPM UN Equity,USB UN Equity,GS UN Equity,FB UW Equity,AAPL UW Equity,GOOGL UW Equity,GM UN Equity,F UN Equity
Date,,,,,,,,
04/01/2016,63.62,41.48,177.14,102.22,105.35,759.44,33.31,13.97
05/01/2016,63.73,41.68,174.09,102.73,102.71,761.53,32.43,13.72
06/01/2016,62.81,41.05,169.84,102.97,100.70,759.33,31.27,13.11
07/01/2016,60.27,40.27,164.62,97.92,96.45,741.00,29.99,12.70
08/01/2016,58.92,39.70,163.94,97.33,96.96,730.91,29.53,12.54

In [18]:
aapl = SP500['AAPL UW Equity']
pd.DataFrame({'AAPL': aapl, '% change':aapl.pct_change(), 'diff()': aapl.diff()})

              AAPL  % change  diff()
Date
04/01/2016  105.35       NaN     NaN
05/01/2016  102.71 -0.025059   -2.64
06/01/2016  100.70 -0.019570   -2.01
07/01/2016   96.45 -0.042205   -4.25
08/01/2016   96.96  0.005288    0.51
...            ...       ...     ...
05/09/2017  162.08 -0.012009   -1.97
06/09/2017  161.91 -0.001049   -0.17
07/09/2017  161.26 -0.004015   -0.65
08/09/2017  158.63 -0.016309   -2.63
11/09/2017  161.50  0.018092    2.87

[426 rows x 3 columns]